
.title {
    margin-left: 0px;
    margin-bottom: 0;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color:  #eeeeee;
}

.links {
    list-style-type: none;
    padding: 0;
}

.nav-item{
    display: flex;

}