<h2>Incomes</h2>
<app-add-income></app-add-income>
<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Income Amount</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let income of incomes">
        <th scope="row">{{income.id}}</th>
        <td>${{income.income_amount}}</td>
        <td><app-update-income [income]="income"></app-update-income></td>
        <td><button *ngIf="income.id" (click)="deleteIncome(income.id)" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
