
<h2>Incomes</h2>
<a routerLink ="/income">Add Income</a>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Income Amount</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let income of incomes">
        <th scope="row">{{income.id}}</th>
        <td>${{income.income_amount}}</td>
        <td><button class="btn btn-secondary">Update</button></td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
