<div class="container col-md-4">
    <h1>Register</h1>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-2">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input [(ngModel)]="user.name" name="name" type="text" class="form-control" id="name" placeholder="Enter name">
        </div>
        <div class="mb-2">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input [(ngModel)]="user.email" name="email" type="text" class="form-control" id="email" placeholder="Enter email">
        </div>
        <div class="mb-2">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input [(ngModel)]="user.password" name="password" type="password" class="form-control" id="password" placeholder="Enter password">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>
